<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="POM Project Suite">
  <test name="Rediff Test">
    <classes>
      <class name="com.projectname_qa.testcases.LogoutPageTest"/>
      <class name="com.projectname_qa.testcases.LoginPageTest"/>
      <class name="com.projectname_qa.testcases.LandingPageTest"/>
      <class name="com.projectname_qa.testcases.InboxPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
